*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
}

nav a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.barranav{
    background-color: #d9d9d9;
    width: 15vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

img{
    width: 500px;
    height: 300px;
}

p{
    background-color: #04c9f4;
    padding: 10px;
    color: #ffffff;
}

.barralogo{
    width: 100vw;
    background-color: #e7e7e7;
}

footer{
    background-color: #ffffff;
    padding: 10px;
    color: #04c9f4;
    text-align: center;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87.5vh;
}
a{
    border-bottom: solid 2px #ffffff;
    padding: 5px
}

.home{
    color: black;
}

.navazul{
    background-color: #04c9f4;
    width: 100vw;
    color: #ffffff;
}

.cadastros{
    color: #ffffff;
}

@media  screen and (max-width: 700px) {
    .barranav{
        width: 100vw;
        font-size: 1em;
    }
    body{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height:100vh
    }
    img{
        width: 300px;
        height: 200px;
    }
    .imagem{
        height: 60vh;
    }
    footer{
        font-size: 0.7em;
        padding: 10px;
    }
}