body{
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:darkgrey
}

header{
    margin: 0;
    padding: 5px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color:white
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
}
section{
    text-indent: 20px;
    padding: 0px;
    margin: 0px
}
article{
    background-color: white;
    padding: 1px;
    margin: 8px;
}