body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.container{
    background-color: white;
    padding: 20px;
    margin: 7vw;
    margin-top: 5px;
}
.formulario{
    display: grid;
    justify-content: center;
}
#idnome, #idemail, #idmensagem{
    width: 80vw;
    height: 5vh;
    border: solid 1px gray;
    display: flex;
    justify-content: center;
}
#idmensagem{
    height: 20vh;
}
h2{
    justify-self: center;
}
#btEnviar{
    background-color: rgb(18, 204, 25);
    border: none;
    height: 35px;
    width: 70px;
    border-radius: 6px;
    margin-left: 7px;
    color: white;
    font-size: 1rem;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;                              /*oculta a mensagem da página*/
}