img{
    width: 400px;
    height: 300px;
}
.center{
    text-align: center;
}
header{
    font-family: Arial, Helvetica, sans-serif; color: white;
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 5px;
}
body{
    background-color:darkgrey;
    margin: 0;
    padding: 0;

}
article{
    background-color: white;
    padding: 5px;
    margin: 8px;
}
section{
    text-indent: 20px;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 8px;
}
a{
    color: white;
    text-decoration: none;
}
